body {
	margin: 2em;
	border: 2px solid yellowgreen;
	padding: 3em;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

header, nav, aside, article, footer {
	border: 2px solid red;
}

header {
	background-color: #fdf6ce;
}

nav {
	background-color: #ffdae5;
}

aside {
	background-color: #ddd7d7;
	box-sizing: 40%;
}

article {
	background-color: #d7eaf8;
	overflow: auto;
}

footer {
	background-color: #dcfff6;
}

.byline {
	font-style: italic;
}

.more-link {
	font-weight: bold;
}

table {
	border: 3px solid;
	border-collapse: collapse;
}

th {
	font-weight: bold;
	border: 2.5px solid
}

td {
	border: 1px solid;
}

.mugshot {
	overflow: auto;
}

article img{
	float: left;
	max-width: 25%;
	max-height: 25%;
	margin: 5px;
	padding: 2em;
}

main {
	display: flex;
	flex-direction: column;

}

section {
	box-sizing: 60%;
}